﻿

#AgodaSearchBox #ButtonField
{
    width:auto;
    float:left;
    height:auto;
    z-index:auto !important;
    text-align:right;
    padding-right:20px;
}

#AgodaSearchBox 
{
    float: left;
    height: 180px;
    position: relative;
    width: 250px;
    background-image:url(//img.agoda.net/images/PartnerSearchBox/Style3/bg_style3box.gif);
    background-color:transparent;
    background-repeat:repeat-x;
}


#AgodaSearchBoxWrapper #AgodaLogo .txt
{
    font-size:11px;
    float:left;
    color:#666;
}

#AgodaSearchBoxWrapper #AgodaLogo .logo
{
    width:155px;
    height:17px;
    background-image:url(//img.agoda.net/images/affiliates/agoda_logo_small.png);
    background-position:0 1px;
    background-repeat:no-repeat;
    margin:0 3px;
    float:left;
}

#AgodaSearchBoxWrapper #AgodaLogo
{
    width:100%;
    min-width:100%;
    height:auto;
    float:left;
    text-align:center;
}

#AgodaSearchBoxWrapper #logoDiv
{
    height:auto;
    text-align:center;
    margin:auto;
    display:table;
}

#AgodaSearchBoxWrapper *
{
    font-family:Tahoma, Arial,Helvetica;
    font-size:12px;
}

#AgodaSearchBoxWrapper
{
    width: 250px;
    height: 200px;
    position: relative;
    z-index: 2;
    float:left;
}

#AgodaSearchBoxWrapper #Title1
{
    color: #333333;
    float: left;
    font-size: 14px;
    font-weight: bold;
    height: 17px;
    margin-bottom: 0;
    margin-top: 10px;
    padding: 0px 10px 0px 10px;
    width: 230px;
}


#AgodaSearchBoxWrapper #Title2
{
    width:40px;
    height:50px;
    display:none;
    position:absolute;
}

#AgodaSearchBox #CityRow
{
    width:240px;
    padding:0px 10px 0px 10px;
    float:left;
    clear:left;
    height:45px;
}

#AgodaSearchBox #CityLabel
{
    float: left;
    height: 18px;
    margin-bottom: 2px;
    padding-left: 5px;
    padding-right: 5px;
    width: 210px;
}

#AgodaSearchBox .CityTextBox
{
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    color: #333333;
    float: left;
    font-size: 14px;
    height: 20px;
    margin-right: 2px;
    width: 200px;
}

#AgodaSearchBox .City
{
    width:200px;
    background-color:#ffffff;
    float:left;
    margin-right:2px;
    font-size:14px;
    color:#333333 !important;
    border:solid 1px #cccccc;
    height:20px;
}

#AgodaSearchBox #CheckInRow
{
    clear:both;
    width:230px;
    padding:0px 10px 0px 10px;
    height:auto;  
    margin-bottom:2px;
    position:absolute;
    top:72px;
}

#AgodaSearchBox #CheckInLabel
{
    float: left;
    font-size: 12px;
    height: 20px;
    padding: 0 5px 0px;
    width: 210px;
}

#AgodaSearchBox #CheckInField
{
    float: left;
    height: 26px;
    padding-bottom: 0;
    padding-left: 2px;
    width: 220px;
}

#AgodaSearchBox #CheckInField img
{
    width:auto;
    float:left;
    height:auto;
    width:24px;
    height:28px;
    background-image:url(//img.agoda.net/images/PartnerSearchBox/Style3/img_style3calendar.gif);
    margin-top:-3px;
}

#AgodaSearchBox .CheckInDateTextBox
{
    width:168px;
    background-color:#ffffff;
    float:left;
    margin-right:2px;
    font-size:14px;
    color:#333333;
    border:solid 1px #cccccc;
    height:20px;
}

#AgodaSearchBox #CityField
{
    width:228px;
    float:left;
    height:auto;
    padding-left:2px;
}

#AgodaSearchBox #CityField font
{
    padding-left:3px;
    padding-right:3px;
}

#AgodaSearchBox img
{
    float:left;
    width:auto;
    height:auto;
    cursor:pointer;
    margin-top:0px;
    margin-right:10px;
}

#AgodaSearchBox .Invalid
{
    background-color:#ffd400 !important;
}

#AgodaSearchBox #Night
{
    width:80px;
    left:0px;
    font-size:14px;
    height:26px;
    border:solid 1px #cccccc;
    background-color:#ffffff;
    line-height:normal;
}

#AgodaSearchBox #NightLabel
{
    float: left;
    height: 20px;
    padding-left: 3px;
    padding-right: 5px;
    width: 205px;
}

#AgodaSearchBox #NightRow
{
    width:205px;
    float:left;
    height:auto;
    padding:0px 10px 2px 2px;
    clear:left;
}

#AgodaSearchBox .Row
{
    width:96%;
    padding:2%;
    float:left;
    height:auto;  
}

#AgodaSearchBoxWrapper.RTL #AgodaSearchBox div, #AgodaSearchBoxWrapper.RTL #AgodaSearchBox span
{
    direction:rtl;
    float:right !important;
    right:0px;
}

#AgodaSearchBoxWrapper.RTL #AgodaSearchBox input, #AgodaSearchBoxWrapper.RTL #AgodaSearchBox #CheckInLabel, #AgodaSearchBoxWrapper.RTL #AgodaSearchBox #CheckInField
{
    float:right;
}

#AgodaSearchBoxWrapper.RTL #AgodaSearchBox #ButtonField
{
    margin-left:0px;
    text-align:left !important;
}

#AgodaSearchBoxWrapper.RTL #AgodaSearchBox #SearchButton
{
    float:left;
    margin-left:15px;
}

#AgodaSearchBoxWrapper.RTL #AgodaSearchBox #CheckInField img
{
    margin-left:14px !important;
    margin-right:0px !important;
}

#AgodaSearchBoxWrapper.RTL #AgodaSearchBox #Night
{
    float: right;
    left: 158px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 65px;
    z-index: 9999;
    height:25px !important;
}

#AgodaSearchBoxWrapper.RTL #AgodaSearchBox #NightRow
{
    clear:both !important;
    float:right !important;
    margin:0px;
    padding:0px;
}

#AgodaSearchBoxWrapper.RTL #AgodaSearchBox #CityField font
{
    padding-right:5px;
}

#AgodaSearchBoxWrapper.RTL #AgodaSearchBox #SearchButtonRow
{
    left:20px;
    right:0px;
    padding:0px;
    float:left !important;
    width:228px !important;
}

#AgodaSearchBoxWrapper.RTL #AgodaSearchBox #ButtonField
{
    float:left !important;
}

#AgodaSearchBoxWrapper.RTL #AgodaSearchBox #NightLabel
{
    float: right;
    height: 20px;
    padding-left: 3px;
    padding-right: 5px;
    width: 205px;
}

#AgodaSearchBoxWrapper.RTL #AgodaSearchBox #CityRow
{
    right:0px;
    padding:0px 10px 0px 0px;
    clear:right;
}

#AgodaSearchBoxWrapper.RTL #AgodaSearchBox #Title1 
{
    float:right;
    text-align:right;
    clear:right;
}

#AgodaSearchBox Select
{
    width:44px;
    height:20px;
    background-color:#fffedf
}

#AgodaSearchBox span
{
    position:relative;
}

#AgodaSearchBox #SearchButton
{
    background-image: url("//img.agoda.net/images/PartnerSearchBox/Style3/btn_bgstyle3.gif");
    background-repeat: repeat-x;
    border: 0 solid #AAAAAA;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 11px;
    font-weight: 700;
    height: 27px;
    padding-left: 0px;
    text-align: center;
    width: 112px;  
}

#AgodaSearchBox #SearchButtonRow
{
    float:left;
    width:auto;
    height:auto;
    padding:0px 10px 0px 10px;
    position:absolute;
    left:90px;
    top:137px;
}

#AgodaSearchBox .HideCityRow #SearchButtonRow 
{
    top:92px !important;
}

#AgodaSearchBox .HideCityRow #CheckInRow
{
    top:28px !important;
}

#AgodaSearchBox select.styled
{
    position: relative;
    width: 190px;
    z-index: 5;
}
